.cardbg {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: 0;
    transition: 0.2s all;
}

.cardbg:hover {
    z-index: 1;
    transform: scale(1.05);
}

